{% comment %} plaid-boxer-short-set-brown-plaids {% endcomment %}
{% assign billboard = all_products['plaid-boxer-short-set-brown-plaids'] %}

<div class=' twcss-w-full '>
  <a href='{{ billboard.url }}' class=' twcss-relative' title='{{ billboard.title }}'>
    {{
      billboard.metafields.product.feature_image
      | image_url: width: 3000
      | image_tag: widths: '550, 720, 990, 1100, 1500, 2200, 3000'
    }}

    <div class=' twcss-w-[45vw] twcss-absolute twcss-aspect-[2000/533] twcss-z-10 twcss-left-[10%] twcss-bottom-[15%] twcss-rotate-2 hover:twcss-rotate-3 '>
      <img
        src='https://cdn.shopify.com/s/files/1/0757/2095/0079/files/boxers.svg?v=1714008042'
        alt='{{ billboard.title | escape }}'
      >
    </div>

    {% comment %}
      <h3 class='card__heading twcss-w-full twcss-text-center twcss-pb-[1.5rem] twcss-transform -twcss-rotate-1 twcss-absolute twcss-bottom-0  h4'>
        {{ billboard.title | escape }}
      </h3>
    {% endcomment %}
  </a>
</div>
