{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'card-product-slideshow', is_duplicate: true %}
{% endcomment %}

{% assign media_width = 0.65 %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

<media-gallery
  id='MediaGallery-{{ product.id }}{{ id_append }}'
  role='region'
  class='twcss-group'
  data-desktop-layout='thumbnail_slider'
  aria-label='{{ 'products.product.media.gallery_viewer' | t }}'
>
  <div id='GalleryStatus-{{ product.id }}' class='visually-hidden' role='status'></div>
  <slider-component id='GalleryViewer-{{ product.id }}{{ id_append }}' class='slider-mobile-gutter'>
    <ul
      id='Slider-Gallery-{{ product.id }}{{ id_append }}'
      class='grid product__media-list contains-media twcss-w-full list-unstyled slider slider--mobile twcss-m-0'
      role='list'
      style='aspect-ratio: 4/5'
    >
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        <li
          id='Slide-{{ product.id }}-{{ featured_media.id }}{{ id_append }}'
          class='twcss-relative product__media-item  slider__slide is-active{% if single_media_visible %} product__media-item--single{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}'
          data-media-id='{{ product.id }}-{{ featured_media.id }}'
          style='aspect-ratio: 4/5'
        >
          {%- assign media_position = 1 -%}
          <a href='{{ product.url }}'>
            {% render 'product-thumbnail',
              media: featured_media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: product.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: false
            %}
          </a>
        </li>
      {%- endif -%}
      {%- for media in product.media -%}
        <li
          id='Slide-{{ product.id }}-{{ media.id }}{{ id_append }}'
          class='product__media-item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}'
          data-media-id='{{ product.id }}-{{ media.id }}'
          style='aspect-ratio: 4/5'
        >
          {%- liquid
            assign media_position = media_position | default: 0 | plus: 1
            assign lazy_load = false
            if media_position > 1
              assign lazy_load = true
            endif
          -%}
          <a class='twcss-w-full twcss-h-full' href='{{ product.url }}'>
            {% render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: product.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: lazy_load
            %}
          </a>
        </li>
      {%- endfor -%}
    </ul>

    <div class='twcss-hidden group-hover:twcss-block slider-buttons no-js-hidden'>
      <button
        type='button'
        class='slider-button slider-button--prev'
        name='previous'
        aria-label='{{ 'general.slider.previous_slide' | t }}'
      >
        {% render 'icon-arrow' %}
      </button>

      <button
        type='button'
        class='slider-button slider-button--next'
        name='next'
        aria-label='{{ 'general.slider.next_slide' | t }}'
      >
        {% render 'icon-arrow' %}
      </button>
    </div>
  </slider-component>

  {%- if first_3d_model -%}
    <button
      class='button button--full-width product__xr-button'
      type='button'
      aria-label='{{ 'products.product.xr_button_label' | t }}'
      data-shopify-xr
      data-shopify-model3d-id='{{ first_3d_model.id }}'
      data-shopify-title='{{ product.title | escape }}'
      data-shopify-xr-hidden
    >
      {% render 'icon-3d-model' %}
      {{ 'products.product.xr_button' | t }}
    </button>
  {%- endif -%}
</media-gallery>
